.header {
    margin: 2rem 0;
    padding: 0 2rem;
}

.body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user__card {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgba(50, 50, 50, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

.title {
    margin-bottom: 1rem;
}

.fields{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,35px);
}

.data {
    font-style: italic;
}

.data-link {
    font-style: italic;
}

.password {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card__header {
    display: flex;
    gap: 2rem;
    align-content: center;
    justify-content: space-between;
}

.card__header svg {
    margin-top: 5px;
}

.link {
    text-decoration: underline;
}
.all_home{
   min-height: 72vh;
}

@media screen and (max-width: 900px) {
    .user__card {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 0 1rem;
    }

    .user__card {
        width: 100%;
        margin: 0 1rem;
    }

    .fields{
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(30px, auto);
        row-gap: 0.5rem;
    }
}